/* Importing Google Font API */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* Declaring rules for body */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* vertical height */
  margin: 0;
  line-height: 100%;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  color: rgb(77, 77, 77);
  background: rgb(0, 0, 0);
}

/* Declaring rules for nav */
.nav {
  order: -1; /* move the nav to the top */
  padding: 1em;
  background: rgb(0, 0, 0);
}

/* Declaring rules for footer */
.footer {
  padding: 1em;
  background: rgb(0, 0, 0);
  text-align: center;
}

/* Declaring rules for wrapper */
.wrapper {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
}

/* Declaring rules for main */
.main {
  padding: 1em;
  background: rgb(0, 0, 0);
  text-align: center;
}

/* Declaring rules for aside */
.aside {
  padding: 1em;
  text-align: center;
  background: rgb(0, 0, 0);
  font-size: 0.77em;
}

/* Declaring rules for call-out */
.call-out {
display: flex;
box-sizing: border-box;
flex: 1;
}

/* Declaring rules for each call-out specifically */
.call-out:nth-child(1) {background: rgb(0, 0, 0); flex: 1;}
.call-out:nth-child(2) {background: rgb(0, 0, 0); flex: 2;}
.call-out:nth-child(3) {background: rgb(0, 0, 0); flex: 2;}
.call-out:nth-child(4) {background: rgb(0, 0, 0); flex: 1;}

/* Change colour when link visited */
a:visited {
    color: rgb(77, 77, 77);
}

/* if viewport is smaller than 30em */
@media (max-width: 30em) {
  .wrapper{
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 90em) {
  .call-outs-container{
    display: flex;
flex-direction: column;
  }
}

@media (max-width: 30em) {
  .wrapper{
    display: flex;
flex-direction: row;
  }
}

/* if viewport is bigger than 30em */
@media (min-width: 30em) {
  .nav {
flex-direction: row;
  }
}
  .wrapper {
    flex-direction: row;
    display: flex;
  }
  .wrapper {
    flex: 1 1 auto;
  }
  .aside {
    width: 30%;
  }

.call-outs-container {
    display: flex;
flex-direction: row;

  }

@media (min-width: 30em) {
  .wrapper {
display: flex;
flex-direction: row;

  }
}
