body {
background: rgb(0, 0, 0);
flex-direction: column;
min-height: 100vh;
margin: 0;
line-height: 100%;
font-family: verdana;
font-size: 1.5em;
color: rgb(77, 77, 77);
display:flex;

}

.nav {

  display: flex;
  flex-direction: row;
}

.call-outs-container {

padding-right: 9.5em;
padding-left: 17em;


}

.call-out {
display: flex;
box-sizing: border-box;
flex: 1;
}

.header {
display: block;

}




@media (min-width: 30em) {
  .call-outs-container {
    display: flex;
flex-direction: row;

  }
}

@media (max-width: 80em) {
  .call-outs-container{
    display: flex;
flex-direction: column;
  }
}

@media (max-width: 90em) {
  .header{
    display: flex;
flex-direction: column;
  }
}

@media (min-width: 30em) {
  .header {

flex-direction: row;

  }
}





.call-out:nth-child(1) {background: rgb(0, 0, 0); flex: 1;}
.call-out:nth-child(2) {background: rgb(0, 0, 0); flex: 2;}
.call-out:nth-child(3) {background: rgb(0, 0, 0); flex: 2;}
.call-out:nth-child(4) {background: rgb(0, 0, 0); flex: 1; padding-right: 5em;}


.container_layout {
background: rgb(0, 0, 0);




}

.header {




}

.slogan_one {

flex: 1;

padding-left: 23.5em;
}

.logo_image {

flex: 1;

}


.slogan_two {

flex: 1;
padding-top: 4em;
}

.wrapperthree {
flex: 1;
margin-left: 21.5%;

background: rgb(0, 0, 0);


}




.footer {

text-align: center;


}
